<footer>
  <div class="container rodape">
    <div class="footer-left">
      <span class="logoUG">
        <img src="/assets/imagens/LogoUG.png" alt="Logo Universo Gamer" />
      </span>

      <div class="footer-icon">
        <h1>Redes Sociais</h1>
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>

      <h2>
        Desenvolvido por
        <a href="https://www.linkedin.com/in/wesley-carvalho-49a330218/"
          >Wesley Carvalho</a
        >
      </h2>
    </div>

    <div class="footer-right">
      <div class="footer-links-container">
        <div class="footer-links">
          <h1>INSTITUCIONAL</h1>
          <a href="">Home</a>
          <a href="">Sobre a Universo Gamer</a>
          <a href="">Nossas Lojas</a>
        </div>

        <div class="footer-links">
          <h1>MINHA CONTA</h1>
          <a href="">Meu Carrinho</a>
          <a href="">Meus Pedidos</a>
          <a href="">Login ou Cadastrar</a>
        </div>

        <div class="footer-links">
          <h1>ATENDIMENTO</h1>
          <span>Rua Das Flores - Jardim Floresta</span>
          <span>Telefone: 0800 123 0000</span>
          <span>atendimento@universogamer.com</span>
        </div>
      </div>

      <div class="footer-address">
        <h1>FORMAS DE PAGAMENTO</h1>
        <img
          src="/assets/imagens/R1_formas-pagamento-alterada.png"
          alt="Formas de Pagamento"
        />
      </div>

      <div class="footer-address-text">
        <span>
          <p>Feito com</p>
          <img
            style="width: 24px"
            src="https://angular.io/assets/images/logos/angular/angular.svg"
            alt="Logo Angular"
          />
        </span>
        <p>&copy; Todos os direitos reservados</p>
      </div>
    </div>
  </div>
</footer>
