<header>
  <div class="container cabecalho">
    <span class="logo">
      <img src="/assets/imagens/LogoUG.png" alt="Logo Universo Gamer" />
    </span>

    <div class="menu">
      <a href="#">acessórios</a>
      <a href="#">games</a>
      <a href="#">telefonia</a>
      <a href="#">notebooks</a>
      <a href="#">promoções</a>
    </div>

    <!-- painel icons -->
    <div class="icons right-menu">
      <!-- pesquisa -->
      <a href="#" class="search">
        <i class="fas fa-search"></i>
      </a>
      <!-- usuario -->
      <a routerLink="../login" href="#" class="user">
        <abbr title="Login/Cadastro"><i class="fas fa-user"></i></abbr>
      </a>
      <!-- carrinho de compras -->
      <div class="fas fa-shopping-cart" id="cart-btn"></div>
      <!-- hamburgue  -->
      <div class="fas fa-bars" id="menu-btn"></div>
    </div>

    <!-- barra de pesquisa -->
    <div class="search-form">
      <input
        type="search"
        id="search-box"
        placeholder="O que deseja encontrar?"
      />
      <label for="search-box" class="fas fa-search"></label>
    </div>
  </div>
</header>
