<section>
  <div class="container telefonia">
    <article class="design-text">
      <h1>Os Novos iPhones já chegaram na Universo Gamer</h1>
      <p>
        Pague seu novo iPhone em até 12 parcelas ou economize 10% nos pagamentos
        à vista.
      </p>

      <div class="design-text-topics">
        <img src="/assets/imagens/wrench.png" alt="#" />
        <h2>Novo sistema de câmera dramaticamente mais poderoso</h2>
      </div>

      <div class="design-text-topics">
        <img src="/assets/imagens/view.png" alt="#" />
        <h2>
          Tela responsiva que surpreende a cada toque. O chip de smartphone mais
          rápido do mundo.
        </h2>
      </div>

      <div class="design-text-topics">
        <img src="/assets/imagens/color.png" alt="#" />
        <h2>Tela Super Retina XDR2 com ProMotion</h2>
      </div>

      <button>COMPRAR</button>
    </article>

    <img src="/assets/imagens/iphone3.png" alt="imagem do novo iphones" />
    <!-- <div class="circle"></div> -->
  </div>
</section>
