<section class="promocao">
  <h1>Veja o que temos de PROMOÇÕES</h1>
  <div class="container-promocao">
    <div class="container-promocao-topics">
      <div class="container-topics">
        <img
          src="/assets/imagens/CONTROLE_PS5-removebg-preview.png"
          alt="controle PS5"
        />
        <h2>R$ 100,00</h2>
        <p>Controle PS5 DualSense Branco Para Playstation.</p>
        <button class="button-promocao">COMPRAR</button>
      </div>

      <div class="container-topics">
        <img
          src="/assets/imagens/prd_311760_i_1-_bundle_forza_horizon_5___bone-removebg-preview.png"
          alt="Forza Horizon 5"
        />
        <h2>R$ 100,00</h2>
        <p>Jogo Xbox Series X Forza Horizon 5 - Edição Exclusiva.</p>
        <button class="button-promocao">COMPRAR</button>
      </div>
    </div>

    <div class="container-promocao-topics">
      <div class="container-topics">
        <img src="/assets/imagens/notebook.png" alt="Notebook" />
        <h2>R$ 1.000,00</h2>
        <p>Notebook Lenovo IdeaPad 3i i5-10210U 8GB 256 GB SSD.</p>
        <button class="button-promocao">COMPRAR</button>
      </div>

      <div class="container-topics">
        <img src="/assets/imagens/Heardset.png" alt="Heardset" />
        <h2>R$ 100,00</h2>
        <p>Fone Headset Gamer G332 Para PC/PS4/XBOX</p>
        <button class="button-promocao">COMPRAR</button>
      </div>
    </div>
  </div>
</section>
