<section>
  <div class="container home">
    <div class="home-text">
      <h1 class="gradient-text">
        Maximize <br />a sua<br />
        PRODUTIVIDADE
      </h1>
      <p>
        Escolha o equipamento perfeito com os <br />
        Acessorios Microsoft.
      </p>
      <button class="btn-sm">Saiba mais</button>
    </div>

    <div class="banner-img">
      <img
        src="/assets/imagens/d25f6110-e3fb-4d21-9a17-dbde71030187.png"
        alt="Microsoft"
      />
      <div class="big-circle"></div>
    </div>
  </div>
</section>
