/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --main-color: #2ba82b;
  --especial: #dd4b39;
  --especial2: #64b3ff;
  --black: #13131a;
  --white: #dddddd;
  --bg: #252531;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #6b6685 -13.86%, #45415a 99.55%);
}

/*********** RESET CSS ***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  transition: 0.2s linear;
}

/************ style global ************/
html {
  font-size: 62.5%;
}

body {
  background-color: #252531;
}

.container {
  max-width: 1200px;
  margin: auto;
}
